.presentation {
	display: flex;
	flex-direction: row;
	max-width: 1000px;
	align-items: flex-start;
	margin: auto;
}

.presentation div {
	padding-right: 80px;
}

.presentation h1 {
	margin-bottom: 15px;
}

.presentation p {
	margin-bottom: 50px;
}

.last-project {
	background-color: #fff;
	padding: 80px;
}

.last-project h2,
.talk h2 {
	color: #242424;
	text-align: center;
	margin-bottom: 80px;
}

.galerie div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	margin-bottom: 15px;
}

.talk h2 {
	color: #a5b4fc;
}