* {
	margin: 0;
}

body {
    background-color: #1F2039;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}

a {
    color: #242424;
    text-decoration: none;
}

h1 {
	font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

p, li {
    font-size: 1.1em;
}

em {
    color: #a5b4fc;
    font-style: normal;
  }

p, li, h2 {
    color: #f9f8ff;
}

header, footer {
    background-color: #fff;
	padding: 20px 50px;
}


section {
	padding: 80px;
}

header {
	padding: 20px 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin-left: 30px;
}

.nav a {
	margin-left: 30px;
}

.cta {
    background: linear-gradient(180deg, #8E86B5, #ACAEED);
    color: white;
    font-family: 'Manrope', sans-serif;
	border-radius: 50px;
	padding: 20px 30px;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logos-rs a {
	padding: 10px;
}